<!-- templates/index.html -->

{% extends "base.html" %}

{% block hero %}
<style>
  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
</style>
<div class="ui text container">
  <h1 class="ui inverted header">
   The Movie List List 
  </h1>
  <h2>
    A site where Taylor &#38; Allyssa share collections of the best cinema has to offer.  
  </h2>
</div>
{%endblock%}

{% block content %}
<div class="ui items">
{% for item in data %}
  <div class="item">
    <div class="ui tiny image">
      {% set first_item = item.film_list|first%}
      <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{first_item.poster_path}}" alt="{{ first_item.title }} poster image">
    </div>
    <div class="content">
      <a class="header" href="/film-list/{{item.id}}">{{item.title}}</a>
      <div class="description">
        {{ item.film_list|length }} films in list
      </div>
      <div class="extra">
        <div class="ui right floated primary button" onclick=window.location.assign("/film-list/{{item.id}}")>
          Go to <i class="right chevron icon"></i>
        </div>
        {% if is_authenticated %}
        <div class="ui label"><a href="/admin/edit/{{item.id}}"><i class="edit icon"></i></a></div>
        <div class="ui label"><a href="/admin/delete/{{item.id}}"><i class="trash icon"></i></a></div>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<div class="ui divider"></div>
  <p>
    {% if not anon_user %}
      <button class="ui button circular" onclick=window.location.assign("/admin/create")><i class="icon plus"></i></button>
    {% endif %}
  </p>
</div>


{% endblock %}