<!-- templates/index.html -->

{% extends "layout/base.html" %}

{% block hero %}
<div class="ui inverted vertical masthead center aligned segment">
<div class="ui text container">
  <h1 class="ui inverted header">
    {{ data.title }} 
  </h1>
  <h2>{{ data.description }}</h2>
</div>
</div>
{% endblock hero %}

{% block content %}
<div class="ui grid">
  {% if data.film_list %}
    {% from "utils.html" import ui_items with context %}
    {{ ui_items (data.film_list, divided=True) }}
  {% endif %}
  {% if is_authenticated %}
    {% from "utils.html" import list_admin_menu with context %}
    {{ list_admin_menu(data) }}
  {% endif %} 
</div>
{% endblock %}