<!-- templates/login.html -->

{% extends "layout/form.html" %}

{% set form_message %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
{% endset %}

{% set fields %}
<div class="field">
    <input type="email" name="email" placeholder="Your Email" autofocus="">
</div>
<div class="field">
    <input type="password" name="password" placeholder="Your Password">
</div>
<div class="fields">
    <label class="checkbox">
        <input type="checkbox">
        Remember me
    </label>
</div>
<button class="ui button primary">Login</button>
{% endset %}

{% block form %}
{% from "utils.html" import ui_form with context %}
{{ ui_form("Login", "/login", fields, form_message, "user") }}
{% endblock %}