
{% extends "layout/form.html" %}
{% set fields %}
<div class="field">
    <input type="email" name="email" placeholder="Email" autofocus="" />
</div>
<div class="field">
    <input type="text" name="name" placeholder="Name" autofocus="" />
</div>
<div class="field">
    <input class="input is-large" type="password" name="password" placeholder="Password" />
</div>
<button class="ui button primary">Sign Up</button>
{% endset %}
{% block form %}
    {% from "utils.html" import ui_form with context %}
    {{ ui_form("Sign Up", "/signup", fields) }}
{% endblock %}